body {
  margin: 0;
  overflow: hidden;
  position: relative;
}

#videoControls {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

#videoControls button,
#videoControls input {
  margin-right: 10px;
}

#buttonBarLeft {
  position: fixed;
  bottom: 50px;
  left: 50px;
}

#playBtnDiv {
  position: absolute;
  top: 90%;
  left: 50%;
}

#playBtn {
  background: #fff;
  border-radius: 60px;
  cursor: pointer;
}

#rewindBtnDiv {
  position: absolute;
  top: 90%;
  left: 43% ;
}
#rewindBtn {
  background: #fff;
  border-radius: 60px;
  opacity: 50%;
  cursor: pointer;
}

#forwardBtnDiv {
  position: absolute;
  top: 90%;
  left: 57% ;
}
#forwardBtn {
  background: #fff;
  border-radius: 60px;
  opacity: 50%;
  cursor: pointer;
}
